extends layout

block content
    section
        .container
            .row
                .features_items
                        h2.title Products
                        if featProducts
                            each product in featProducts
                                - var productUrl = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                .col-sm-4
                                    .product-image-wrapper.shadow.bg-body.rounded
                                        .single-products
                                            .productinfo.text-center.p-5
                                                p
                                                    a.text-danger.fs-3(href=productUrl)=product.ProductName
                                                a(href=productUrl)
                                                    img(src='/img/products/' + product.Image, alt=product.ProductName)
                                                h2= 'Price : ' + product.ProductPrice + ' EGP '
                                                form(action='/cart/' + product.ProductID + '/add', method='POST')
                                                    button.btn.btn-danger.add-to-cart(type='submit')
                                                        i.fa.fa-shopping-cart.fa-lg.p-3
                                                        |Add to cart
                    ///features_items
            .row
                .features_items
                    h2.title Categories
                    if categories
                        each category in categories
                            .col-sm-4
                                a(href='/cat/' + category.CategorySlug)
                                    .product-image-wrapper.shadow.bg-body.rounded
                                        .single-products.p-5
                                            .catinfo.text-center.fs-3
                                                h3=category.CategoryName
                                                img(src='/img/categories/' + category.Image, alt=category.CategoryName)